
data/exploits/framework/BasicExploit.py

*.php

*.php

*.css

*.png

*.gif

*.js

*.pyc

reports/Exploit.log

reports/TestResults.csv

settings.py

data/targets/applications
data/exploits
data/payloads
